html
{
  overflow-x: hidden;
  overflow-y: hidden;
}

body
{
  margin: 0;
}

#game_background
{
  height: 100%;
}

#gameObjects
{
  position: absolute;
  height: 56.25vw;
  width: 100%;
}

#GUI
{
  position: absolute;
}

.player
{
 position: absolute;
 height: 11vw;
 top: -2vw;
 left: 0vw;
}



.flipped {
    transform: scale(-1, 1);
}
