html
{
  overflow-x: hidden;
  overflow-y: hidden;
}

body
{
  margin: 0;
}

#game_background
{
  height: 100%;
}

#gameObjects
{
  position: absolute;
  height: 56.25vw;
  width: 100%;
}

.GUI
{
  position: absolute;
}

#hp_bar
{
  background-color: red;
  width: 20vw;
  height: 2vh;
}
#mp_bar
{
  background-color: blue;
  width: 20vw;
  height: 2vh;
}

#skill1,#skill2,#elixir
{
  width: 4vw;
  height: 4vw;
  margin: 0.5vw;
  background-size: 4vw;
  float: left;
}

#skill2
{
  margin-left: 0;
  margin-right: 0;
}

#skill1_cd,#skill2_cd,#elixir_cd
{
  width: 4vw;
  height: 0vw;
  margin: 0;
  background-color: rgba(100,150,200,0.5);
  float: left;
}

#skills_bar
{
  position: absolute;
  background-color: white;
  width: 14vw;
  height: 5vw;
  top: 0;
  left: 79vw;
}

#player1
{
  position: relative;
  height: 12vw;

  top: 0vw;
  left: -8.91vw;
}

#player2
{
  position: relative;
  height: 13vw;

  top: 0vw;
  left: 0vw;
}

.Troll
{
  overflow: hidden;
  position: absolute;

  height: 12vw;
  top: 35vw;
}

.Golem
{
  overflow: hidden;
  position: absolute;

  height: 20vw;
  top: 25vw;
}

.mob {

}

.playerRenderer1{
  overflow: hidden;
  position: absolute;

  width: 9.72vw;
  height: 12vw;

  top: 0vw;
  left: -2vw;
}

.playerRenderer2{
  overflow: hidden;
  position: absolute;

  width: 13vw;
  height: 13vw;

  top: 0vw;
  left: -2vw;
}

#skillRenderer1{
  overflow: hidden;
  position: absolute;

  width: 15vw;
  height: auto;
}

#skillRenderer2{
  overflow: hidden;
  position: absolute;

  width: 15vw;
  height: auto;
}


.flipped {
    transform: scale(-1, 1);
}
